<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    {% block  load %}{% endblock %}
    <title>Document</title>
</head>
<body>
    <div class="base-bar">

        <img class="birb" src="../static/images/birb.svg" alt="cute birb">
        <img class="logo" src="../static/images/logo.svg" alt="logo">
        <img  class="tree" src="../static/images/tree.svg" alt="tree">
    </div>
    {% block  bd %}{% endblock %}
    
</body>
</html>