{% extends "base.html" %}

{% block  load %}
<link rel="stylesheet" href="../static/css/find_species.css">
{% endblock %}

{% block bd %}
<div>
    <video id="videoPlayer" autoplay ></video>
    <button onclick="takePhoto()">Take Photo</button>
  </div>
  <script>
    var videoPlayer = document.getElementById("videoPlayer");
    navigator.mediaDevices.getUserMedia({ video: true })
      .then(function(stream) {
      videoPlayer.srcObject = stream;
    });
    function takePhoto() {
      var canvas = document.createElement("canvas");
      var context = canvas.getContext("2d");
      canvas.width = videoPlayer.videoWidth;
      canvas.height = videoPlayer.videoHeight;
      context.drawImage(videoPlayer, 0, 0, canvas.width, canvas.height);
      var img = canvas.toDataURL("image/png");
      fetch('/save-image', {
        method: 'POST',
        body: img
    });
      // send the imgUrl to your server for storage or further processing
    }
  </script>

  

{% endblock %}